<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark caja-lateral">

    <div class="btn-group botones-planta">
        <button type="button" class="btn text-white btn-primary boton-planta">Planta 1 </button>
        <button type="button" class="btn text-white btn-primary boton-planta">Planta 2 </button>
        <button type="button" class="btn text-white btn-primary boton-planta">Planta 3 </button>

    </div>

    <input type="search" class="form-control buscador" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" />

    <hr>
    <div class="barra-lateral">
        <ul class="nav nav-pills flex-column mb-auto caja-aulas-abajo">
            <li class="nav-item enlace-aula">
                <a href="#" class="nav-link bi me-2 text-white" aria-current="page" width="16" height="16">
                    <img src="https://minimahe.github.io/MTX360/fotos/1.JPG" class="img-aula" alt="" width="32" height="32">
                    Audiovisuales
                </a>
            </li>
            
            



        </ul>
    </div>
    <hr>

</div>



<div class="contenedor-fondo">
    <img src="~/lib/imgs/Mapa_Planta_baja.png" alt="mapa" id="mapa" usemap="#mapa">

    <map name="mapa">
        <area shape="rect" coords="242, 65, 285, 153" href="https://www.google.com/" alt="mapa">

    </map>


</div>
