@model MVC.Models.Arrows

@{
    Layout = "_Flechas";
}
<div class="container">

    <div class="form-control">
       

        @using (Html.BeginForm("CFlecha", "Home", FormMethod.Post, new { @class = "card-body cardbody-color p-lg-5" }))
        {
        <div class="form-control">
            @Html.TextBoxFor(x=>x.id_image,new {@class = "form-control", @textindex = "1" })
            </div>
            <div class="form-control">
            @Html.TextBoxFor(x=>x.nodeid,new {@class = "form-control", @textindex = "2"})
            </div>
                <div class="form-control">
            @Html.TextBoxFor(x=>x.posicion,new {@class = "form-control", @textindex = "3"})
            </div>
            <div class="text-center">  @Html.ActionLink("Volver","Flechas",new{},new{@class="btn btn-success"})<button type="submit" class="btn btn-primary">Guardar</button></div>
        }

    </div>
</div>