@model ParaJs;
@{
    Layout = "_Sphere";
}
<script>const startnode = @Model.imageninical; const pisoimg = @Model.pisoimg</script>
    <div id="photosphere" style="width: 100vw; height: 100vh;"></div>

