@model ParaJs;
@{
    Layout = "_Sphere";
}
<script>const startnode = @Model.imageninical; const pisoimg = @Model.pisoimg</script>
<div id="container">
    <button class="back-button" onclick="window.history.back()"><i class="fas fa-arrow-left"></i> Mapa</button>
    <div id="photosphere" style="width: 100vw; height: 100vh;"></div>
</div>
