
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.img-aula {
    margin-right: 10px;
    border: 1px solid black;
    transition: 1s;
}

    .img-aula:hover {
        margin-right: 10px;
        border: 4px solid black;
        width: 64px;
        height: 64px;
        transition: 1s;
    }

.enlace-aula:hover {
    background-color: rgb(55, 55, 253);
    transition: 0.5s;
}

.caja-lateral {
    max-height: 100%;
    height: 100vh;
    width: 25vw;
    position: absolute;
    box-sizing: border-box;
}

.barra-lateral::-webkit-scrollbar {
    background-color: rgb(168, 168, 168);
    width: 10px;
}

.barra-lateral::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 253);
}

.barra-lateral {
    overflow: auto;
}

.buscador {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

/*.botones-planta {
    display: flex;
    justify-content: space-between;
}*/

.boton-planta {
    width: 100%;
    background-color: rgb(55, 55, 253) !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

    .boton-planta:hover {
        background-color: rgb(3, 3, 145) !important;
        transition: 2s;
    }




.contenedor-fondo #mapa {
    overflow-clip-margin: content-box;
    overflow: clip;
    margin: auto;
}

.contenedor-fondo::-webkit-scrollbar {
    background-color: rgb(168, 168, 168);
    width: 10px;
}

.contenedor-fondo::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 253);
}

.contenedor-fondo {
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    transition: transform .2s ease-out;
    overflow: auto;
    display: flex;
    justify-content: center;
    background: #d5d5d5;
}
